
<div class="container overflow-hidden">
   
    <div class="row">
       <div class="col-12 mt-4">
            <h1>Listado de talleres</h1>
       </div>
       <div class="col-3 mt-4">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <input type="text" 
                  class="form-control" 
                  id="textName" 
                 placeholder="Ejm: Juan Lopez">
       </div>
        <div class="col-3 mt-4">
            <label for="exampleFormControlInput1" class="form-label">Instructor</label>
            <select id="disabledSelect" class="form-control">
                <option>Todos</option>
              </select>
            
        </div>
        <div class="col-3 mt-4">
            <label for="exampleFormControlInput1" class="form-label">Fecha inicio</label>
            <input type="text" 
                    class="form-control" 
                id="dateStart" 
                placeholder="dd/mm/yyyy">
        </div>
        <div class="col-3 mt-4">
            <label for="exampleFormControlInput1" class="form-label">Fecha fin</label>
            <input type="text" 
                    class="form-control" 
                id="dateEnd" 
                placeholder="dd/mm/yyyy">    
            
        </div>
        <div class="col-3 my-4">
            <glx-button class="m-1" tier="primary"size="sm">Hoy</glx-button>
            <glx-button class="m-1" tier="primary"size="sm">Esta semana</glx-button>
            <glx-button class="m-1" tier="primary" size="sm">Este mes</glx-button>
           
        </div>
    </div>
    <div class="row">
     <div *ngFor="let workshop of workshops" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
        <glx-card class="w-100 h-100">
        <div class="glxcard-image w-100">
             <img [src]="workshop.image | imgPath:'workshop-default.png'" />
         </div>
        <div class="glxcard-name align-items-center">
            <div style="width: 100%;">
                <h5>{{ workshop.name }}</h5>
            </div>
        </div>
        <div  class="glxcard-body">
            <glx-icon name="Alarm">  </glx-icon > Dia: {{ workshop.date }} <br>
            <glx-icon name="Calendar"> </glx-icon> Hora: {{ workshop.time }} <br>
            <glx-icon name="Person"></glx-icon> Instructor: {{ workshop.teacher }}<br>
                                                                                
            
        </div> 

        <div  class="glxcard-footer"> 
            <!--button class="btn btn-primary" [routerLink]="['./', workshop.id]">Información</button-->
            <glx-button tier="primary" [routerLink]="['./', workshop.id]" hover-overlay >Información</glx-button>
        </div>   
        </glx-card>  
       
    </div>

    
  


    
</div>

</div>



